* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #09090a;
  color: white;

  display: grid;
  place-items: center;

  height: 100vh;
}

header {
  width: 80%;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  /*margin: 0 auto;*/
  padding: 59px;

  position: fixed;
  width: 100%;
  background-color:#09090a;
  margin-top: -500px;
  margin-left: 50px;
  margin-right: 50px;
}

button {
  padding: 16px 24px;
  border-radius: 8px;
  border: 2px solid #8b5cf6;
  background-color: #09090a;
  color: white;

  display: flex;
  align-items: center;
  gap: 12px;

  font-family: "inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}

#form-habits {
  display: flex;

  padding: 192px 48px 48px;
  width: fit-content;
}


.habits {
  display: flex;
  padding: 0 48px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.habit {
  width: 64px;
  height: 64px;

  font-size: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.days {
  display: flex;
  gap: 48px;
  margin-left: 32px;
}
.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.day div {
  margin-bottom: 8px;

  font-family: "Roboto Mono";
  font-size: 20px;
  line-height: 125%;
  
  color: #a1a1aa;

  text-align: center;
}
input {
  appearance: none;
  -webkit-appearance: none;

  height: 64px;
  width: 64px;

  border: 2px solid #27272a;
  border-radius: 8px;

  background: #18181b;
}
/*esse é um tipo de pseudo selector*/
input:checked {
  background: #8b5cf6;

  border: 2px solid #a78bfa;
}

@media (max-width: 570px) {
  button div {
    display: none;
  }
}